  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {}


  /* 
    sm	640px	@media (min-width: 640px) { ... }
    md	768px	@media (min-width: 768px) { ... }
    lg	1024px	@media (min-width: 1024px) { ... }
    xl	1280px	@media (min-width: 1280px) { ... }
    2xl	1536px	@media (min-width: 1536px) { ... }
 */

  .transition {
      transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .slider {
      display: flex !important;
      background: url('../assets/imgs/bg_01.jpg') no-repeat center center;
  }

  .slider-container {
      @apply max-w-[1200px];
      padding: 0 !important;
  }

  .slider-content {

      @apply mx-auto max-w-[92%] sm:max-w-[600px] md:mx-0 md:max-w-[650px] text-center md:text-left leading-[1.65];
  }


  .slider-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8799a3;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

  }

  .slider-arrow:hover {
      cursor: pointer;
  }

  .left-arrow {
      left: 25px !important
  }

  .right-arrow {
      right: 25px !important;
  }

  .slick-dots {
      bottom: 20px !important
  }

  .slick-dots.custom-dots li {
      width: 20px;
      height: 6px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.2);
  }

  .slick-dots.custom-dots li.slick-active {
      background-color: #8799a3;
  }

  .slick-dots li button:before {
      display: none;
  }

  .filter-btn {
      overflow: hidden;
      width: calc((100% / 3) - 0.5rem);
      @apply flex flex-col justify-center items-center border-[3px] border-solid border-[#efefef] p-[1.25rem] font-poppins text-[18px] font-semibold;

  }

  @media screen and (min-width: 768px) {
      .filter-btn {
          width: auto;
          min-width: 120px;
      }
  }


  .filter-btn:hover {
      border-color: #2e2e2e;
      cursor: pointer
  }

  /***** Product Card *****/
  .hover-effect .link,
  .hover-effect .btn,
  .hover-effect img {
      transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1)
  }

  .hover-effect:hover .link {
      @apply text-main
  }

  .hover-effect:hover img {
      opacity: 0.1;
  }

  .hover-effect .btn {
      opacity: 0;
      transform: translateX(50px);

      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  }

  .hover-effect .btn:hover {
      @apply bg-main text-white
  }

  .hover-effect:hover .btn {
      opacity: 1;
      transform: translateX(0)
  }

  .hover-effect .btn:nth-of-type(1) {
      transition-delay: .1s;
  }

  .hover-effect .btn:nth-of-type(2) {
      transition-delay: .2s;
  }

  .hover-effect .btn:nth-of-type(3) {
      transition-delay: .3s;
  }


  /* Cart Page */
  .cart-table th {
      @apply p-[15px] lg:p-[25px]
  }

  .remove-btn {
      @apply w-[45px] h-[45px] text-[#8799a3] bg-[#f5f5f5] rounded-[50%] hover:bg-[#ce0b2b] hover:text-white;
  }

  .table-price {
      @apply font-openSans text-[18px] font-[700]
  }

  .quantity-input {
      @apply h-[60px] py-[20px] text-center flex items-center justify-center rounded-[45px] flex-grow border-2 border-[#eceef2] border-solid;
  }

  .input-number {
      @apply text-[18px] w-[100px] border-none p-0 outline-none font-medium text-center leading-[1] cursor-pointer;
  }

  .input-number-increment,
  .input-number-decrement {
      @apply text-[30px]
  }

  .details-btn {
      @apply border-[1px] border-solid border-[#e5e7f5] w-[60px] h-[60px]
  }

  .details-btn.add-to-cart {
      @apply h-[60px] bg-[#e52929] text-white w-auto px-[35px] flex items-center justify-center
  }


  /* footer */

  footer .link {
      @apply text-white hover:text-[#bd896b]
  }

  footer li:not(:last-child) {
      @apply mb-[10px];
  }